<div>
    <a href="ProductIndex.html">
        <img src="../img2/bota1.png" width="100%" alt="boty1 image">
        <h3>Kozačky</h3>
        <p class="current-price">15 290 Kč</p>
        <p class="old-price">14 699 Kč</p>
        <a href="DemandIndex.html">
            <img src="../img/Group%206.png" alt="basket icon" class="basket-icon">
        </a>
    </a>
</div>